@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* it sets base font size to 10px */
}
@media (max-width: 78em) {
    html {
        font-size: 56.25%; /* 9px */
    }
}

@media (max-width: 30em) {
    html {
        font-size: 50%; /* 8px */
    }
}

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}
